@font-face{
  font-family:"proxima-nova";
  src: url("/fonts/Proxima-Nova-Alt-Regular.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face{
  font-family:"proxima-nova";
  src: url("/fonts/Proxima-Nova-Alt-Semibold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family:"proxima-nova";
  src: url("/fonts/Proxima-Nova-Alt-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1em;
}
h2 {
  font-weight: 400;
  font-size: 18px;
}

#hero {
  height: 294px;
  margin-bottom: 5em;
  &:before {
    content: '';
    position: absolute;
    top:0;
    z-index: 1;
    width: 100%;
    height: 294px;
    background: url('/images/hero.jpg');
    background-size: cover;
    background-position: center;
  }
  &:after {
    content: '';
    position: absolute;
    top:0;
    z-index: 2;
    width: 100%;
    height: 294px;
    background: #fff;
    opacity: 0.6;
  }
  #hero-link {
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 272px;

  }
  .container {
    position: relative;
    z-index: 3;
  }
  #logo {
    padding-top: 2.6em;
    height: 6.2em;
    width: 7em;
    .fa-check {
      color: $brand-color;
      padding-left: 0.2em;
    }
    .fa-stack-2x {
      font-size: 3.4em;
    }
    .fa-square {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.fa-2x {
  color: $brand-color;
  font-size: 4em;
}
.two-column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
#answer{
  position: relative;
  height: 334px;
  margin-top: 5em;
  &:before {
    content: '';
    position: absolute;
    top:0;
    z-index: 1;
    width: 100%;
    height: 334px;
    background: url('/images/answers.jpg');
    background-size: cover;
    background-position: center;
  }
  &:after {
    content: '';
    position: absolute;
    top:0;
    z-index: 2;
    width: 100%;
    height: 334px;
    background: #000;
    opacity: 0.6;
  }
  #answer-link {
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 310px;

  }
  .container {
    position: relative;
    z-index:3;
    color: #fff;
  }
  ul {
    margin-left: 0;
  }
  .fa-stack {
    height: 3em;
    width: 4em;
    top: -1.6em;
    .fa-stack-2x {
      font-size: 3em;
    }
    .fa-circle {
      color: #fff;
      bottom: -0.1em;
      font-size: 3.8em;
    }
    .fa-smile-o {
      color: $brand-color;
    }
  }
}

#testimonials {
  margin-top: 5em;
  .testimonial {
    position: relative;
    p {
      position: relative;
      .fa-quote-left {
        position: absolute;
        top: 0;
        left: -1.5em;
      }
      .fa-quote-right {
        position: absolute;
        bottom: 0;
        right: -1em;
      }
    }
  }
}

#about {
  margin-top: 5em;
  img {
    width: 75px;
    height: 75px;
    border-radius: 4em;
  }
}

#faq {
  margin-top: 5em;
}

#footer {
 margin-top: 5em;
 background: #000;
 opacity: 0.9em;
 color: #eee;
 padding: 2em;
}
