<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<meta property="og:url" content="https://taskitt.com" />
<meta property="og:image" content="https://taskitt.com/images/taskitt.png" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.description }}" />
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
